Version:   {{ router_version.stdout[0] | regex_replace('\n.*', '') }}
Hostname:  {{ router_hostname.stdout[0] | regex_replace('(hostname\\s+)(.+)', '\\2') }}
Interfaces:
{% for line in interface_description.stdout_lines %}
{{ line | regex_replace("\\[|'|,","") }}
{% endfor %}

